


@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

.main {
    animation: fadeIn 0.5s ease-in-out;
    justify-content: center;
}

.main__list {
    list-style: none;
    padding-left: 0px;
}